-
	var data = [{
				starsQuantity: "4stars",
				header: "Carpathian",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$793"
			},
			{
				starsQuantity: "5stars",
				header: "Alps",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$1893"
			},
			{
				starsQuantity: "Pyrenees",
				header: "Pyrenees",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$2593"
			},
			{
				starsQuantity: "4stars",
				header: "Rocky",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$2123"
			},
			{
				starsQuantity: "3stars",
				header: "Kavkaz",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$593"
			}
			];
	var navItems = ['our story', 'services', 'work', ' journal', 'contact', 'work', 'journal'];