-
	var data = [{
				starsQuantity: "4stars",
				header: "Carpathian",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$793"
			},
			{
				starsQuantity: "5stars",
				header: "Alps",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$1893"
			},
			{
				starsQuantity: "5stars",
				header: "Pyrenees",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$2593"
			},
			{
				starsQuantity: "4stars",
				header: "Rocky",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$2123"
			},
			{
				starsQuantity: "3stars",
				header: "Kavkaz",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$593"
			}
			];
	var navItems = ['our story', 'services', 'work', ' journal', 'contact', 'work', 'journal'];
	var postContent = [{
				title: "love",
				header: "Lorem ipsum dolor sit amet,<br> consectetur adipisicing<br> elit, sed do",
				description: "You know how to make best coffee in the universe? Or, maybe you’re very good in designing gloves? Tell everyone about your experience and skills.",
				postNumber: "01",
			},
			{
				title: "tree",
				header: "Lorem ipsum dolor sit<br> amet, <span>consectetur</span><br> adipisicing elit,",
				description: "The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now.",
				postNumber: "02",
			},
			{
				title: "water",
				header: "LITTLE PIECES OF<br> OUR PROUDNESS",
				description: "What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?",
				postNumber: "03",
			}
			];
	var photos = [{
		name: "img1.jpg",
		alt: "img1.jpg",
		id: "img1"
	},{
		name: "img2.jpg",
		alt: "img2.jpg",
		id: "img2"
	},{
		name: "img3.jpg",
		alt: "img3.jpg",
		id: "img3"
	},{
		name: "img4.jpg",
		alt: "img4.jpg",
		id: "img4"
	},{
		name: "img5.jpg",
		alt: "img5.jpg",
		id: "img5"
	},{
		name: "img6.jpg",
		alt: "img6.jpg",
		id: "img6"
	}];
	var logos = [{
			name: "logo1.png",
			alt: "logo1.png"
		},{
			name: "logo2.png",
			alt: "logo2.png"
		},{
			name: "logo3.png",
			alt: "logo3.png"
		},{
			name: "logo4.png",
			alt: "logo4.png"
		},{
			name: "logo5.png",
			alt: "logo5.png"
		},{
			name: "logo6.png",
			alt: "logo6.png"
		}];
	var logos = ["slack", "adobe", "google", "facebook", "spotify", "nike"];
	var bq = [{
			text:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse ",
			photoname: "testimonials1.jpg",
			href: "https://www.behance.net/gallery/27999261/Mountains-Landing-Page-FREE-(psd)",
			name: "Pavliv Yaroslav",
			profession: " Web designer"
		},{
			text:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse ",
			photoname: "testimonials2.jpg",
			href: "https://www.behance.net/gallery/27999261/Mountains-Landing-Page-FREE-(psd)",
			name: "John Scott",
			profession: " The Fringe"
		}];