-
	var data = [{
				starsQuantity: "4stars",
				header: "Carpathian",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$793"
			},
			{
				starsQuantity: "5stars",
				header: "Alps",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$1893"
			},
			{
				starsQuantity: "5stars",
				header: "Pyrenees",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$2593"
			},
			{
				starsQuantity: "4stars",
				header: "Rocky",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$2123"
			},
			{
				starsQuantity: "3stars",
				header: "Kavkaz",
				description: "Lorem ipsum dolor si amet, consectetur",
				oldPrice: "3150$",
				newPrice: "$593"
			}
			];
	var navItems = ['our story', 'services', 'work', ' journal', 'contact', 'work', 'journal'];
	var postContent = [{
				title: "love",
				header: "Lorem ipsum dolor sit amet,<br> consectetur adipisicing<br> elit, sed do",
				description: "You know how to make best coffee in the universe? Or, maybe you’re very good in designing gloves? Tell everyone about your experience and skills.",
				postNumber: "01",
			},
			{
				title: "tree",
				header: "Lorem ipsum dolor sit<br> amet, <span>consectetur</span><br> adipisicing elit,",
				description: "The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now.",
				postNumber: "02",
			},
			{
				title: "water",
				header: "LITTLE PIECES OF<br> OUR PROUDNESS",
				description: "What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?",
				postNumber: "03",
			}
			];