@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('LeagueGothic-Regular.woff') format('woff'),
       url('LeagueGothic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

