.spritePostpost1
{
background:url('css-sprite-combined.jpg') 0px -1px;
width:380px;height:379px;
display:inline-block;
}

.spritePostpost2
{
background:url('css-sprite-combined.jpg') -380px -0px;
width:380px;height:380px;
display:inline-block;
}

.spritePostpost3
{
background:url('css-sprite-combined.jpg') -760px -0px;
width:381px;height:380px;
display:inline-block;
}

