.spriteIconsicon1
{
background:url('css-sprite-combined.png') 0px -0px;
width:32px;height:40px;
display:inline-block;
}

.spriteIconsicon2
{
background:url('css-sprite-combined.png') -32px -0px;
width:40px;height:40px;
display:inline-block;
}

.spriteIconsicon3
{
background:url('css-sprite-combined.png') -72px -2px;
width:38px;height:38px;
display:inline-block;
}

.spriteIconsicon4
{
background:url('css-sprite-combined.png') -110px -2px;
width:38px;height:38px;
display:inline-block;
}

