<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(href="css/index.min.css", rel="stylesheet")
		include pug_components/mixins.pug
		title test
	body
		include pug_components/content.pug
		nav
			.container
				.wrapper
					p.logo
						span moun
						|tains
					+navbar(navItems)
					button(class="btn callUsBtn")  call us
		.hero
			.container
				.motto
					h1 travel with us
					p to the Mountains
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid
				button(class="btn primaryBtn") order now
		section.about
			.container
				h3 about us
				p Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.
				button(class="btn primaryBtn") read more
				img(src="./img/blog_img1.jpg", alt="img1", id="img1")
				img(src="./img/blog_img2.jpg", alt="img2", id="img2")
		section.journal
			.container
				h2 our journal
				.postsBlock
					+post(postContent)
		section.offer
			.container
				h3 DO YOU WANNA GO?
				p 
					!= "Aliquam sed posuere urna, et gravida nisl. Praesent<br>interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus."
				form(action="#")
					input(type="text" placeholder='Your name')
					input(type="text" placeholder='Your phone')
					button(type='submit', class="btn primaryBtn") order now
				p
					!= "&#128274; * Your data will not be transferred"
		section.schema
			.container
				h2 HOW WE WORK
				.wrapper
					+stage
					+stage
					+stage
					+stage
		section.proposition
			.container
				h2 TRAVEL WITH US
				.wrapper
					+card(data)
		section.gallery
			.container
				h2 gallery
				.photogrid
					+images(photos)
		section.logos
			.container
				+svgicon("sprite.svg", logos)
		section.testimonials
			.container
				h2 our clients say
				.wrapper
					+blockquote(bq)
				//- .blured
				.contactForm
					form(action="#")
						.title contacts
						p Sign up for our newsletter to receive updates
						input(type="text" placeholder="Name")
						input(type="text" placeholder="Phone")
						input(type="text" placeholder="E-mail")
						button(type="submit" class="btn primaryBtn") send
		footer
			.container
				p All rights reserved 2015
				.social
				.contactNumber +38(067)800-2734