@import "./scss/global.scss";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	font-family: $mainFont;
  // height: 100%;
  // @media screen and (max-width: $desktopWidth) {
	// 	font-size: 16px;
  // }
  // @media screen and (max-width: $tableWidth) {
	// 	font-size: 15px;
  // }
  // @media screen and (max-width: $phoneWidth) {
	// 	font-size: 14px;
  // }
}

body {
  // font-family: $mainFont;
	// font-family: $mainFontSize;
  // font-weight: $mainFontWeight;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	margin: 0;
	color: $headerColor;
	
}
h2 {
	font-size: 30px;
	letter-spacing: 3px;
}
h3 {
	font-size: 20px;
	letter-spacing: 2px;
}
h4 {
	font-size: 16px;
	letter-spacing: 2.4px;
}
p { margin: 0; }

a {
	text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// section, .section {
//   position: relative;
//   padding: 40px 0;
//   @media screen and (max-width: $desktopWidth) {
//     padding: 36px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 28px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 20px 0;
//   }
// }

.wrapper {
	display: flex;
	height: 100%;
  // flex-direction: column;
  // min-height: 100vh;
	// margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}
.container {
	width: 1140px;
	margin: auto;
	height: 100%;
}
.btn {
	padding: 0;
	display: inline-block;
  text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
}
.primaryBtn {
	//  border: solid 1px transparent;
	color: #ffffff;
	background-color: $secondShade;
	// cursor: pointer;
}
.callUsBtn {
	background-color: transparent;
	color: $second;
	border: 3px solid $second;
}
// .content-wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// .container {
//   width: 100%;
//   flex: 0 0 auto;
//   position: relative;
//   max-width: $desktopWidth;
//   margin: 0 auto;
//   @media screen and (max-width: $smDesktopWidth) {
//     max-width: tableWidth;
//   }
//   @media screen and (max-width: $tableWidth) {
//     max-width: phoneWidth;
//   }
//   @media screen and (max-width: $phoneWidth) {
//     max-width: smPhoneWidth;
//   }
// }
h2::before, h3::before {
	content: '';
	display: block;
	background-image: url(../img/waves.png);
	width: 81px;
	height: 7px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0;
	position: relative;  
}
h3::before {
  top: -30px; 
}
h2::before {
	left: calc(50% - 41px);
  top: -36px; 
}
nav {
	width: 100%;
	height: 119px;
	background-color: rgba(255, 255, 255, .23);
	position: fixed;
	z-index: 30;
	top: 0;
	.logo{
		font-size: 27px;
		font-family: $secondFont;
		color: #95a5ad;
		text-transform: capitalize;
		span {
			color: $second;
		}
	}
	button {
		width: 153px;
		height: 46px;
		font-size: 12px;
	}
	.menu li{
		color: #9daeb6;
		font-size: 12px;
		font-family: $mainFont;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;
	}
}

.hero {
	width: 100%;
	height: 749px;
	background-image: url("../img/hero_bg_border.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	.container {
		padding-top: 295px;
		&>p {
			width: 434px;
			height: 47px;
			font-size: 18px;
			font-family: $mainFont;
		}
		.motto {
			height: 120px;
			h1 {
			margin-top: 43px;
			margin-bottom: 0;
			font-size: 50px;
			font-family: $mainFont;
			font-weight: bold;
			letter-spacing: 6px;
			color: $mainHeaderColor;
			position: relative;
			}
			p {
				color: $blueLight;
				font-family: $secondFont;
				letter-spacing: 1.31px;
				font-size: 66px;
				position: relative;
				top: -45px;
			}
		}
	}
	button {
		width: 253px;
		height: 60px;
		margin-top: 27px;
		font-size: 14px;
	}
}

//    ---------  ABOUT --------      section

.about {
	width: 100%;
	height: 667px;
	background: $bgSecondary;
	.container {
		height: 100%;
		padding-top: 234px;
		background-image: url("../img/world_map_big_dots.png");
		background-repeat: no-repeat;
		background-size: 1154px 528px;
		background-position: 92px 23px;
		position: relative;
		p {
			width: 352px;
			height: 66px;
			margin-top: 29px;
		}
	}
	img {
		position: absolute;
	}
	#img1 {
		top: 277px;
		left: 453px;
		z-index: 20;
	}
	#img2 {
		top: -36px;
		left: 542px;
		z-index: 10;
	}
	button {
		width: 130px;
		height: 30px;
		margin-top: 30px;
		font-size: 12px;
	}
}

//    ---------  JOURNAL --------      section

.journal {
	background-color: $bgPrimary;
	.container {
		height: 1064px;
		h2 {
			margin-top: 114px;
			margin-bottom: 71px;
			text-align: center;
		}
		.postsBlock {
			display: grid;
			height: 760px;
			grid-template-areas:	"post01 post01 post03"
														"post02 post02 post03";
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}
		.post {
			position: relative;
		}
		.postContent {
			position: absolute;
			background-color: #fff;
			width: 380px;
			height: 380px;
			.title {
				text-align: center;
				font-family: $mainFont;
				padding-top: 47px;
				font-size: 11px;
				font-weight: bold;
				text-transform: uppercase;
				color: $secondaryFontColor;
			}
			h4 {
				margin-top: 55px;
				text-align: center;
				span {
					text-decoration: line-through;
				}
				&+p {
					width: 270px;
					margin: auto;
					text-align: center;
					margin-top: 27px;
					&:last-child {
						margin-top: 57px;
					}
				}
			}
			.number {
				font-size: 14px;
				text-align: center;
				font-family: "Times New Roman", Times, serif;
				font-style: italic;
				margin-top: 39px;
				color: #212121;
			}
		}
		#post01 {
			grid-area: post01;	
			background: url(../img/spritePostIcons.png) -210px 150px no-repeat,
			url(../img/spritePost.jpg) 0px -1px no-repeat;
			.postContent {
				right: 0;
			}
		}
		#post02 {
			grid-area: post02;
			background: url(../img/spritePostIcons.png) 400px 151px no-repeat,
									url(../img/spritePost.jpg) -380px -0px no-repeat;
			.postContent {
				left: 0;
			}
		}
		#post03 {
			grid-area: post03;
			background: url(../img/spritePostIcons.png) -440px 140px no-repeat,
									url(../img/spritePost.jpg) -380px 0px no-repeat;
			.postContent {
				bottom: 0;
			}
		}
	}
}

//    ---------  OFFER --------      section

.offer {
	width: 100%;
	height: 650px;
	background-image: url(../img/offer.jpg);
	background-repeat: no-repeat;
	background-size: auto auto;
	background-position: 50%;
	.container {
		h3 {
			padding-top: 194px;
		}
		p {
			margin-top: 20px;
			margin-bottom: 25px;
		}
		p:last-of-type {
			color: $second;
		}
		form {
			width: 855px;
			height: 62px;
			border: 1px solid #fff;
			background-color: #fff;
			border-radius: 4px;
		}
		input {
			width: 300px;
			padding-left: 21px;
			border: none;
			line-height: 34px;
			vertical-align: middle;
			font-family: $mainFont;
			font-size: 16px;
		}
		input:last-of-type {
			border-left: 2px solid #EBEBEB;
		}
		button {
			width: 225px;
			height: 56px;
			margin-left: 19px;
			margin-top: 2px;
		}
	}
}

//    ---------  SCHEMA --------      section
.schema {
	.container {
		height: 737px;
		background-image: url(../img/schema_bg.png);
		background-repeat: no-repeat;
		background-size: 926px 141px;
		background-position: 100px 100px;
		h2 {
			margin-top: 114px;
			text-align: center;
		}
		.wrapper {
			justify-content: space-around;
			// position: relative;
		}
		.stage {
			position: relative;
			width: 205px;
			height: 115px;
			margin-top: 110px;
			h4 {
				text-transform: none;
				font-family: $fifthFont;
				letter-spacing: normal;
				text-align: center;
				font-size: 18px;
				// margin-top: 200px;
			}
			p {
				font-family: $sixthFont;
				font-size: 16px;
				text-align: center;
			}
			&::before {
				content: '';
				display: block;
				width:179px;
				height:179px;
				margin: 0;
				padding: 0;
				top: -180px;
				position: absolute;
			}
			&:nth-child(1)::before {
				background:url('../img/spriteSchemaIcons.jpg') 0px -0px;
			}
			&:nth-child(2)::before {
				background:url('../img/spriteSchemaIcons.jpg') -179px -0px;
			}
			&:nth-child(3)::before {
				background:url('../img/spriteSchemaIcons.jpg') -358px -0px;
			}
			&:nth-child(4)::before {
				background:url('../img/spriteSchemaIcons.jpg') -537px -0px;
			}
		}
	}
}

//    ---------  OFFER --------      section
.proposition {
	height: 1002px;
	background: url(../img/world_map_small_dots.png) top center no-repeat,
							url(../img/bg2.jpg) bottom center no-repeat;
	.container {
		height: 100%;
		h2 {
			margin-top: 114px;
			text-align: center;
		}
		.wrapper {
			justify-content: space-around;
			align-items: flex-start;
			margin-top: 97px;
		}
		.card {
			width: 200px;
			height: 382px;
			color: white;
			font-family: $mainFont;
			padding-left: 20px;
			position: relative;
			.rating {
				width: 96px;
				height: 16px;
				margin-top: 14px;
			}
			._5stars {
				background:	url('../img/5stars.png') -10px -10px no-repeat
			}
			._4stars {
				background:	url('../img/5stars.png') -29px -10px no-repeat
			}
			._3stars {
				background:	url('../img/5stars.png') -48px -10px no-repeat
			}
			._2stars {
				background:	url('../img/5stars.png') -67px -10px no-repeat
			}
			.title {
				font-size: 28px;
				padding-top: 130px;
			}
			p {
				margin-top: 16px;
				width: 158px;
			}
			.prices {
				display: flex;
				height: 62px;
				width: 180px;
				justify-content: space-between;
				// padding-bottom: 20px;
				align-items: center;
				position: absolute;
				bottom: 0;
				.oldPrice {
					font-size: 18px;
					text-decoration: line-through;
				}
				.newPrice {
					font-size: 26px;
					padding-right: 11px;
					font-weight: 800;
				}
			}
			&:nth-child(1) {
				background:	url('../img/spriteCard.jpg') 0px -0px;
			}
			&:nth-child(2) {
				background:url('../img/spriteCard.jpg') -200px -0px;
			}
			&:nth-child(3) {
				background:url('../img/spriteCard.jpg') -400px -0px;
			}
			&:nth-child(4) {
				background:url('../img/spriteCard.jpg') -600px -0px;
			}
			&:nth-child(5) {
				background:url('../img/spriteCard.jpg') -800px -0px;
			}
		}
	}
}

//    ---------  GALLERY --------      section
.gallery {
	.container {
		h2 {
			margin-top: 114px;
			text-align: center;
		}
		.photogrid {
			display: grid;
			margin-top: 72px;
			grid-template-columns: 263px 361px 457px;
			grid-template-rows: 243px 70px 281px;
			grid-column-gap: 29px;
			grid-row-gap: 30px;
			grid-template-areas: 	"img1 img3 img5"
														"img1 img4 img5"
														"img2 img4 img6";
		}
		#img1 {
			grid-area: img1;
		}
		#img2 {
			grid-area: img2;
		}
		#img3 {
			grid-area: img3;
		}
		#img4 {
			grid-area: img4;
		}
		#img5 {
			grid-area: img5;
		}
		#img6 {
			grid-area: img6;
		}
	}
}

//    ---------  LOGOS --------      section
.logos {
	height: 180px;
	background-color: $bgSubSecondary;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		div {
			width: 80px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			vertical-align: middle;
		}
		.icon {
			width: 100%;
			height: 100%;
			fill: #cccdce;
		}
	}
}

//    ---------  TESTIMONIALS --------      section

.testimonials {
	height: 1250px;
	background: url(../img/footer_bg.png) bottom center no-repeat;
	.container {
		height: 100%;
		h2 {
			margin-top: 114px;
			text-align: center;
		}
		.wrapper {
			height: 205px;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: 132px;
			margin-bottom: 130px;
			p {
				width: 529px;
				height: 117px;
				font-size: 18px;
				position: relative;
				text-align: justify;
				&::before {
					content: "\201c";
					display: block;
					text-align: centre;
					width: 24px;
					height: 22px;
					font-size: 92px;
					line-height: 22px;
					position: absolute;
					font-family: $thirdFont;
				}
			}
			img {
				border-radius: 50%;
			}
			footer {
				display: flex;
				align-items: center;
				img, cite{
					display: block;
				}
				a {
					margin-left: 20px;
					text-decoration: none;
					color: $second;
					font-style: normal;
				}
			}
		}
		.contactForm {
			width: 510px;
			height: 496px;
			border-radius: 8px;
			margin: 0 auto;
			position: relative;
			z-index: 40;
			padding: 42px 30px 0 30px;
			.title {
				font-family: $mainFont;
				text-transform: uppercase;
				color: $second;
				text-align: center;
				letter-spacing: 3.6px;
				font-size: 36px;
				// margin-top: 42px;
				font-weight: bold;
			}
			p {
				text-align: center;
				font-family: "Times New Roman", Times, serif;
				color: #383e4a;
				font-size: 17px;
				margin-bottom: 34px;
			}
			input {
				// width: calc(100% - 60px);
				width: 100%;
				height: 60px;
				border: none;
				border-radius: 4px;
				display: block;
				// margin-right: 30px;
				// margin-left: 30px;
				margin-bottom: 20px;
				padding-left: 20px;
				&::placeholder {
					color: #cccccc;
					font-family: 'Roboto', sans-serif;
					font-size: 18px;
				}
			}
			button {
				// width: calc(100%-60px);
				width: 100%;
				// padding-left: 30px;
				height: 60px;
				// display: block;
			}
			&::before {
				content: '';
				margin: 0;
				padding: 0;
				width: 510px;
				height: 496px;
				border-radius: 8px;
				position: absolute;
				z-index: -30;
				left: -2px;
				top: -2px;
				background-image: url(../img/footer_bg.png);
				background-position: 50% -385px;
				filter: blur(10px);
				overflow: hidden;
			}
			&::after {
				content: '';
				margin: 0;
				padding: 0;
				width: 510px;
				height: 496px;
				border-radius: 8px;
				position: absolute;
				left: -2px;
				top: -2px;
				background-color: rgb(255, 255, 255, 0.18);
				z-index: -30;
				overflow: hidden;
			}
		}
	}
}

//    ---------  FOOTER --------      section

footer {
	height: 80px;
	background: url(../img/footer_bg.jpg) bottom center no-repeat;
	.container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: rgba(255,255,255, 0.5);
	}
}