@font-face {
  font-family: 'Bringin';
  src: url('../fonts/Bringin.woff2') format('woff2'),
      url('../fonts/Bringin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.woff2') format('woff2'),
			url('../fonts/OpenSans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
			url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: 'LeagueGothic';
	src: url('../fonts/LeagueGothic.woff2') format('woff2'),
			url('../fonts/LeagueGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}